@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #ffffff;
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
}
